.justify-content-center{
    justify-content: center;
}

.d-flex{
    display: flex;
}

.align-items-center{
    align-items: center;
}

.width-30{
    width: 30%;
}

.height-40{
    height: 40%;
}

.bg{
    background:
        linear-gradient(#3b7eaf, transparent),
        linear-gradient(to top right, blue, transparent);
    background-blend-mode: screen;
}
